<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="9cb5c340-2ba6-495b-9545-61e16faf0b7c"
            Publisher="CN=Keval.Langalia"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>GettingFBCalendarUser</DisplayName>
    <PublisherDisplayName>Keval.Langalia</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="GettingFBCalendarUser.App">
        <VisualElements
            DisplayName="GettingFBCalendarUser"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="GettingFBCalendarUser"
            ForegroundText="light"
            BackgroundColor="#464646">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>